body {
  font-size: larger;
  font-weight: 700;
  background-color: #f4f4f4;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header h1 {
  margin-bottom: 5px;
}

header p {
  margin-bottom: 0px;
  margin-top: 5px;
}

.note {
  font-size: large;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.integer-container {
  display: flex;
  justify-content: space-evenly;
}

input {
  height: 100px;
  margin-right: 20px;
  font-size: medium;
  font-weight: 700;
  width: 100px;
  text-align: center;
}

.result {
  height: 105px;
  width: 100px;
  background-color: white;
  text-align: center;
  line-height: 105px;
}

.sum_btn {
  margin: 20px 0px;
  margin-right: 20px;
  width: 280px;
  height: 50px;
  cursor: pointer;
}

.error-message {
  background-color: lightcoral;
}
.error-message button {
  cursor: pointer;
}

.equal-sign {
  line-height: 120px;
  margin-right: 20px;
}

.equal-sign {
  font-size: xx-large;
}
